## Ejercicio en casa 2
##### Dataset de Netflix (Contenidos)
https://www.kaggle.com/datasets/swatikhedekar/exploratory-data-analysis-on-netflix-data

In [394]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv("netflix_titles_2021.csv")
df.head(4)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."

# Ejercicio en Casa:

Para este ejercicio debes realizar los siguientes pasos de manera anticipada los siguientes procesos:
- Cargar el conjunto de datos desde un archivo CSV utilizando pandas.
- Explorar y familiarizarse con la estructura del conjunto de datos.
- Calcular estadísticas descriptivas, como el promedio, la mediana y la desviación estándar, de variables relevantes del conjunto de datos general.

#### Acciones por ejecutar

1. Explorar inconsistencias
2. Separar contenidos con duración en minutos y temporadas
3. Homogenizar para detectar preguntas como: Tiempo promedio, temporadas promedio.
4. Relación entre listed_in y duration (separado mins y temporadas)
5. Frecuencia de distribución de los paises
6. Actores principales por pais
7. Relación entre tipo y duración
8. Relación entre listed_in y tipo

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   show_id          8807 non-null   object
 1   type             8807 non-null   object
 2   title            8807 non-null   object
 3   director         6173 non-null   object
 4   cast             7982 non-null   object
 5   country          7976 non-null   object
 6   date_added       8797 non-null   object
 7   release_year     8807 non-null   int64
 8   rating           8803 non-null   object
 9   duration         8804 non-null   object
 10  listed_in        8807 non-null   object
 11  description      8807 non-null   object
 12  duration_unit    8804 non-null   object
 13  time_unit        8804 non-null   object
 14  duration_unit_2  8804 non-null   object
 15  time_unit_2      8804 non-null   object
dtypes: int64(1), object(15)
memory usage: 1.1+ MB

In [3]:
df.describe()

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [395]:
df[['duration_unit','time_unit']] = df['duration'].str.extract(r'(\d+) (\w+)')

In [16]:
#df_clean = df.dropna(inplace=True)
#df_filtered = df_clean[df_clean['duration'].str.match('(\d+) min.*$')]
#df_filtered.head()

In [396]:
splitted_list = df["duration"].str.split(" ")
df["duration_unit_2"] = pd.DataFrame(splitted_list)["duration"].str.get(0)
df["time_unit_2"] = pd.DataFrame(splitted_list)["duration"].str.get(1)

In [18]:
#df.insert(df.columns.get.loc("duration")+1,'unit','')
#df[['duration','unit']] = df['duration'].str.split(' ',expand=True)

In [32]:
#df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   show_id          8807 non-null   object
 1   type             8807 non-null   object
 2   title            8807 non-null   object
 3   director         6173 non-null   object
 4   cast             7982 non-null   object
 5   country          7976 non-null   object
 6   date_added       8797 non-null   object
 7   release_year     8807 non-null   int64
 8   rating           8803 non-null   object
 9   duration         8804 non-null   object
 10  listed_in        8807 non-null   object
 11  description      8807 non-null   object
 12  duration_unit    8804 non-null   object
 13  time_unit        8804 non-null   object
 14  duration_unit_2  8804 non-null   object
 15  time_unit_2      8804 non-null   object
dtypes: int64(1), object(15)
memory usage: 1.1+ MB

In [46]:
#Homogenizar para detectar preguntas como: 
#Tiempo promedio, temporadas promedio
df['duration_unit'].dropna().astype("int16").describe()

count    8804.000000
mean       69.846888
std        50.814828
min         1.000000
25%         2.000000
50%        88.000000
75%       106.000000
max       312.000000
Name: duration_unit, dtype: float64

In [382]:
print(df["duration_unit"].isnull().sum()," :|: ",df['duration_unit'].isna().sum())

0  :|:  0

In [381]:
#otra opcion para limpiar
df.dropna(subset=["duration_unit"],inplace=True)
df["duration_unit"]=df["duration_unit"].astype("int16")

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8804 entries, 0 to 8806
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   show_id          8804 non-null   object
 1   type             8804 non-null   object
 2   title            8804 non-null   object
 3   director         6170 non-null   object
 4   cast             7979 non-null   object
 5   country          7973 non-null   object
 6   date_added       8794 non-null   object
 7   release_year     8804 non-null   int64
 8   rating           8800 non-null   object
 9   duration         8804 non-null   object
 10  listed_in        8804 non-null   object
 11  description      8804 non-null   object
 12  duration_unit    8804 non-null   int16
 13  time_unit        8804 non-null   object
 14  duration_unit_2  8804 non-null   object
 15  time_unit_2      8804 non-null   object
dtypes: int16(1), int64(1), object(14)
memory usage: 1.1+ MB

In [397]:
df_movies = df[df["type"]=="Movie"]

In [398]:
df_tv_show = df[df["type"]=="TV Show"]

In [399]:
serie_duration_mean = df_tv_show.duration_unit.dropna().astype("int16").mean()
movie_duration_mean = df_movies.duration_unit.dropna().astype("int16").mean()

print("Media duracion de series:", serie_duration_mean,f"\nMedia duracion peliculas: ",movie_duration_mean)

Media duracion de series: 1.764947683109118
Media duracion peliculas:  99.57718668407311

In [371]:
 df_tv_show.duration_unit.dropna().astype("int16").describe()

count    2676.000000
mean        1.764948
std         1.582752
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max        17.000000
Name: duration_unit, dtype: float64

In [372]:
df_movies.duration_unit.dropna().astype("int16").describe()

count    6128.000000
mean       99.577187
std        28.290593
min         3.000000
25%        87.000000
50%        98.000000
75%       114.000000
max       312.000000
Name: duration_unit, dtype: float64

In [373]:
df_movies = df_movies[df_movies["duration_unit"].isnull() == False]
len(df_movies)

6128

In [374]:
#Relación entre listed_in y duration (separado mins y temporadas)
df_movies["listed_in"].nunique()

278

In [375]:
df_movies["duration_unit"].nunique()

205

In [400]:
df_movies = df_movies[df_movies['listed_in'].str.contains("Thrillers")]
print("Tiempo Promedio [Thrillers]: ", int(df_movies['duration_unit'].dropna().astype("int16").mean())," minutos")

Tiempo Promedio [Thrillers]:  107  minutos

In [401]:
df_movies = df[df["type"]=="Movie"]
df_movies['listed_in'] = df_movies['listed_in'].str.split(', ')
df_movies_aux = df_movies.explode('listed_in')
df_movies_aux['duration_unit'] = df_movies_aux['duration_unit'].str.extract('(\d+)').astype("float")
movie_duration_mean = df_movies_aux.groupby('listed_in').agg({'duration_unit':  'mean'})
movie_duration_mean

C:\Users\CARLOS\AppData\Local\Temp\ipykernel_26524\1150373239.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_movies['listed_in'] = df_movies['listed_in'].str.split(', ')

                          duration_unit
listed_in
Action & Adventure           113.515716
Anime Features                92.943662
Children & Family Movies      79.936037
Classic Movies               118.646552
Comedies                     103.876344
Cult Movies                  104.521127
Documentaries                 81.630610
Dramas                       113.051092
Faith & Spirituality         105.584615
Horror Movies                 98.445378
Independent Movies           101.051587
International Movies         110.349927
LGBTQ Movies                  94.294118
Movies                        45.481481
Music & Musicals             106.125333
Romantic Movies              110.573052
Sci-Fi & Fantasy             106.016461
Sports Movies                 94.698630
Stand-Up Comedy               67.326531
Thrillers                    107.166378

In [402]:
df_tv_show = df[df["type"]=="TV Show"]
df_tv_show['listed_in'] = df_tv_show['listed_in'].str.split(', ')
df_tv_show_aux = df_tv_show.explode('listed_in')
df_tv_show_aux['duration_unit'] = df_tv_show_aux['duration_unit'].str.extract('(\d+)').astype("float")
tv_show_duration_mean = df_tv_show_aux.groupby('listed_in').agg({'duration_unit':  'mean'})

C:\Users\CARLOS\AppData\Local\Temp\ipykernel_26524\4156776405.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tv_show['listed_in'] = df_tv_show['listed_in'].str.split(', ')

In [403]:
tv_show_duration_mean

                              duration_unit
listed_in
Anime Series                       1.573864
British TV Shows                   1.818182
Classic & Cult TV                  5.678571
Crime TV Shows                     1.708511
Docuseries                         1.336709
International TV Shows             1.410067
Kids' TV                           1.977827
Korean TV Shows                    1.264901
Reality TV                         1.552941
Romantic TV Shows                  1.397297
Science & Nature TV                1.293478
Spanish-Language TV Shows          1.540230
Stand-Up Comedy & Talk Shows       1.839286
TV Action & Adventure              2.398810
TV Comedies                        2.151463
TV Dramas                          1.850590
TV Horror                          2.106667
TV Mysteries                       2.193878
TV Sci-Fi & Fantasy                2.654762
TV Shows                           1.000000
TV Thrillers                       2.052632
Teen TV Shows                      2.246377

In [414]:
#Frecuencia de distribución de los paises
df_movies = df[df["type"]=="Movie"]
df_tv_show = df[df["type"]=="TV Show"]
df_tv_show_aux = df_tv_show.explode('country').dropna()
df_tv_show['listed_in'] = df_tv_show['listed_in'].str.split(', ')

C:\Users\CARLOS\AppData\Local\Temp\ipykernel_26524\1156404857.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tv_show['listed_in'] = df_tv_show['listed_in'].str.split(', ')

In [415]:
df_tv_show_aux['duration_unit'] = df_tv_show_aux['duration_unit'].str.extract('(\d+)').astype("int16")
tv_show_duration_mean = df_tv_show_aux.groupby('country').agg({'duration_unit':  'mean'})

In [417]:
tv_show_duration_mean

                                                    duration_unit
country
Argentina                                                1.000000
Australia                                                1.000000
Belgium                                                  1.000000
Brazil                                                   1.250000
Canada                                                   2.333333
Canada, United Kingdom, United States                    1.000000
China                                                    1.500000
Colombia                                                 1.000000
Colombia, Mexico, United States                          1.000000
Denmark                                                  1.000000
France                                                   1.200000
France, South Korea, Japan, United States                5.000000
India                                                    1.000000
India, United States                                     2.000000
Italy                                                    1.000000
Italy, Canada, France                                    1.000000
Italy, United States                                     2.000000
Japan                                                    2.400000
Mexico                                                   1.000000
Mexico, Spain                                            1.000000
Mexico, United States                                    1.000000
Nigeria                                                  1.000000
Pakistan                                                 1.000000
Philippines                                              1.000000
Philippines, Singapore, Indonesia                        1.000000
Poland                                                   2.000000
Russia                                                   1.000000
Saudi Arabia                                             1.000000
South Korea                                              1.600000
South Korea, United States                               2.000000
Spain                                                    1.714286
Taiwan                                                   1.000000
Taiwan, Malaysia                                         1.000000
Thailand                                                 1.000000
Turkey                                                   1.400000
United Kingdom                                           2.736842
United Kingdom, Germany, United States, France           1.000000
United Kingdom, Ireland, United States                   1.000000
United Kingdom, United States, Spain, Germany, ...       1.000000
United States                                            2.629630
United States, Canada                                    8.000000
United States, Ireland                                   1.000000
United States, Israel, Italy, South Africa               1.000000