In [55]:
import pandas as pd
import numpy as np
import os
from datetime import datetime

In [57]:
def dropper(df):
    df.dropna(inplace=True)
    return df

def clean_headers(df, col_name='Order Date'):
    df = df.drop(df[df[col_name] == col_name].index)
    return df

def formatear_fecha(df,col_name='Order Date'):
    df['fecha_objeto'] = pd.to_datetime(df[col_name], format="%m/%d/%y %H:%M")

    df['nueva_fecha'] = df['fecha_objeto'].dt.strftime("%d/%m/%Y")
    df['nuevo_tiempo'] = df['fecha_objeto'].dt.strftime("%H:%M")

    df.drop(columns=['fecha_objeto'], inplace=True)
    return df

In [59]:
%%time

ruta_carpeta = 'input/'  # TODO: Reemplaza esto con la ruta de tu carpeta

dataframes = []

for archivo in os.listdir(ruta_carpeta): # Recorre todos los archivos en la carpeta
    if archivo.endswith('.csv') or archivo.endswith('.xlsx'):
        ruta_archivo = os.path.join(ruta_carpeta, archivo)
        df = pd.read_csv(ruta_archivo) if archivo.endswith('.csv') else pd.read_excel(ruta_archivo)
        dataframes.append(df)
    
    #print(list(df.head(0).columns))
    #print(archivo,'\r\n',df.dtypes)
        
# Combinar todos los DataFrames en uno solo (** hablar del index)
df_combinado = pd.concat(dataframes, ignore_index=True)
# df_combinado

Wall time: 292 ms

In [60]:
%%time
df_combinado.pipe(dropper).pipe(clean_headers).pipe(formatear_fecha)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,nueva_fecha,nuevo_tiempo
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",19/04/2019,08:46
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",07/04/2019,22:30
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",12/04/2019,14:38
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",12/04/2019,14:38
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",30/04/2019,09:27
...,...,...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001",17/09/2019,20:56
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016",01/09/2019,16:00
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016",23/09/2019,07:39
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016",19/09/2019,17:30
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016",30/09/2019,00:18