## Demo en clase S4
##### Temas:

1. Recuento de funciones
2. Recuento de programaci√≥n orientada a objetos
3. Carga de m√∫ltiples archivos

https://www.kaggle.com/datasets/knightbearr/sales-product-data

In [ ]:
# Secuencial # DRY

print(1)
print(2)
print(3)
print(4)

### Recuento de funciones

In [ ]:
def nombre_funcion():
    print("una tarea que hace la funci√≥n 1")
    print("una tarea que hace la funci√≥n 2")
    print("una tarea que hace la funci√≥n 3")
    print("una tarea que hace la funci√≥n 4")

In [ ]:
# Llamado a la funci√≥n
nombre_funcion()

In [ ]:
def nombre_funcion_con_retorno():
    texto_retorno = "Un retorno de la funci√≥n"
    return texto_retorno

# llamado con retorno
valor_resultante = nombre_funcion_con_retorno()
print(valor_resultante)

## Ejemplo almacenar elementos resultantes

In [ ]:
def nombre_funcion_con_parametros(a, b):
    print("recib√≠ a como: ", a)
    print("recib√≠ b como: ", b)
    return a+b

nombre_funcion_con_parametros(4, 5)
# mostrar que pasa si no se entregan los parametros

In [ ]:
# par√°metros por defecto (a = 3, b = 5)
def nombre_funcion_con_parametros(a = 3, b = 5):
    print("recib√≠ a como: ", a)
    print("recib√≠ b como: ", b)
    return a+b

# nombre_funcion_con_parametros(2, 22)
nombre_funcion_con_parametros(b = 8)
# mostrar que pasa si no se entregan los parametros

### Comportamiento de las variables en relaci√≥n a la visibilidad (global / local)

In [6]:
 estado = "lloviendo üåß"

# ¬øQu√© pas√≥ aqu√≠?

# Hablar de visibilidad de las variables
# Hablar de enmascaramiento y alcance
# Demostrar el uso de global

In [7]:
def cambiarEstado(nuevo_estado):
    # global estado
    estado = nuevo_estado
    print("en el interior:", estado)

In [8]:
print("en el exterior:", estado)
cambiarEstado("Soleado ‚òÄ")
print("en el exterior:", estado)

en el exterior: lloviendo üåß
en el interior: Soleado ‚òÄ
en el exterior: lloviendo üåß

### ¬øfunciones como par√°metros?

Composicion y la idea de ciudadanos de primer nivel.

In [9]:
def operar (a, b, accion):
    return accion(a, b)

def sumar(a, b):
    return a+b

def restar(a, b):
    return a-b

def multiplicar(a, b):
    return a*b

def dividir(a, b):
    return a/b

In [16]:
operar(2, 2, sumar)

4

In [12]:
operar(2, 2, restar)

0

In [13]:
operar(2, 2, multiplicar)

4

In [14]:
operar(2, 2, dividir)

1.0

## Programaci√≥n orientada a objetos
Recuento general, los objetos representan entidades con caracteristicas y servicios.

In [31]:
class Calculadora:

    def __init__(self): ## Hablar de los constructores
        print("Se est√° creando una calculadora")
        
    def sumar(self, a, b): ## mostrar que pasa si quitamos self y hablar de self
        #print("self:", self)
        return a + b 
    
    def restar(self, a, b):
        print("self:", self)
        return a - b 
    
    def multiplicar(self, a, b):
        return a * b 
    
    def dividir(self, a, b):
        return a / b

In [32]:
# Qu√© son las instancias
miCalculadora = Calculadora()
miCalculadora

Se est√° creando una calculadora

In [33]:
# Qu√© representa ?
type(miCalculadora)

__main__.Calculadora

In [34]:
# qu√© hace la notaci√≥n de (.) punto
suma = miCalculadora.sumar(10, 44)
print(suma)

54

In [35]:
resta = miCalculadora.restar(10, 44)
print(resta)

self: <__main__.Calculadora object at 0x000001DF0BDDAD88>
-34

In [37]:
multiplicacion = miCalculadora.multiplicar(10,10);
print(multiplicacion)

100

In [38]:
division = miCalculadora.dividir(100,10)
division

10.0

### Adem√°s de las instancias, ¬øqu√© tenemos?

#### Decoradores

¬øQu√© son?: Son definiciones adicionales usando la notaci√≥n de @

##### ¬øCu√°les usamos?

@staticmethod y @classmethod son decoradores en Python utilizados para definir m√©todos dentro de una clase.

Ambos permiten llamar a los m√©todos sin la necesidad de crear una instancia de la clase, lo que significa que son m√©todos que pertenecen a la clase en s√≠ y no a las instancias individuales de la clase.

‚ö† La principal diferencia entre @staticmethod y @classmethod radica en c√≥mo se pasan los argumentos y c√≥mo se comportan en relaci√≥n con la clase y las instancias. Veamos cada uno de ellos:

###### @staticmethod:

Un m√©todo decorado con @staticmethod no toma el primer argumento como self. No tiene acceso a los atributos o m√©todos de instancia, ni al propio objeto de la instancia. Por lo tanto, no necesita una referencia a la instancia de la clase para ser llamado.

Se utiliza para definir m√©todos que no necesitan informaci√≥n espec√≠fica de la instancia y que realizan operaciones independientes de cualquier estado de instancia.

Se puede llamar desde la clase o una instancia de la clase.

In [39]:
class MyClass:
    @staticmethod
    def static_method():
        print("Soy un m√©todo est√°tico.")

# Llamada desde la clase
MyClass.static_method()

# Llamada desde una instancia de la clase
obj = MyClass()
obj.static_method()

Soy un m√©todo est√°tico.
Soy un m√©todo est√°tico.

##### @classmethod:

Un m√©todo decorado con @classmethod toma el primer argumento como cls, que hace referencia a la propia clase. Con este argumento, el m√©todo tiene acceso a los atributos y m√©todos de la clase.

Se utiliza para definir m√©todos que necesitan acceder a la clase y no necesariamente a las instancias individuales.

Se puede llamar desde la clase, y tambi√©n desde una instancia de la clase, pero en este caso, cls se refiere a la clase que es el tipo de la instancia desde la cual se llama.

In [40]:
class MyClass:
    class_variable = "Hola terricolas"

    @classmethod
    def class_method(cls):
        print("soy un m√©todo de clase")
        print(cls.class_variable)  # Acceso a atributos de la clase

# Llamada desde la clase
MyClass.class_method()

# Llamada desde una instancia de la clase
obj = MyClass()
obj.class_method()

soy un m√©todo de clase
Hola terricolas
soy un m√©todo de clase
Hola terricolas

## Pipeline

In [41]:
# 
import pandas as pd 
import matplotlib.pyplot as plt
df = pd.read_csv("S4/Sales_January_2019.csv")

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9723 entries, 0 to 9722
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          9697 non-null   object
 1   Product           9697 non-null   object
 2   Quantity Ordered  9697 non-null   object
 3   Price Each        9697 non-null   object
 4   Order Date        9697 non-null   object
 5   Purchase Address  9697 non-null   object
dtypes: object(6)
memory usage: 455.9+ KB
None

In [42]:
def lookup_na(df_to_lookup):
    ## Identificaci√≥n de NaN
    contains_na = False
    for col in df_to_lookup.columns:
        count_na = df[col].isnull().sum()
        print("Nan x columna [", col, "]:", count_na)
        contains_na = True        
    return [contains_na, df_to_lookup]

def clean_na(df_to_clean):
    ## limpieza de na
    df_to_clean.dropna(inplace=True)
    return df_to_clean

In [43]:
result = lookup_na(df)
if(result[0]):
    clean_na(result[1])

Nan x columna [ Order ID ]: 26
Nan x columna [ Product ]: 26
Nan x columna [ Quantity Ordered ]: 26
Nan x columna [ Price Each ]: 26
Nan x columna [ Order Date ]: 26
Nan x columna [ Purchase Address ]: 26

In [44]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9697 entries, 0 to 9722
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          9697 non-null   object
 1   Product           9697 non-null   object
 2   Quantity Ordered  9697 non-null   object
 3   Price Each        9697 non-null   object
 4   Order Date        9697 non-null   object
 5   Purchase Address  9697 non-null   object
dtypes: object(6)
memory usage: 530.3+ KB
None

##### C√≥mo lo plantea python pipe / en pandas

In [58]:
import pandas as pd

def change_age(x):
    print(type(x))
    x["age"]=[10, 20, 30]
    return x

def add_column(x, arg1):    
    x[arg1]=[True, False, False]
    return x

data = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30]
}

df = pd.DataFrame(data)
df.pipe(change_age).pipe(add_column, arg1="colA").pipe(add_column, arg1="colB").pipe(add_column, arg1="colC")

print(df)

# hablar de: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pipe.html

<class 'pandas.core.frame.DataFrame'>
    name  age   colA   colB   colC
0  Sally   10   True   True   True
1   Mary   20  False  False  False
2   John   30  False  False  False

## Carga de m√∫ltiples archivos

In [62]:
%%time
import os
import pandas as pd

# Ruta de la carpeta que contiene los archivos
ruta_carpeta = 'data_files/'  # Reemplaza esto con la ruta de tu carpeta

# Lista para almacenar los DataFrames cargados
dataframes = []

# Recorre todos los archivos en la carpeta
for archivo in os.listdir(ruta_carpeta):
    # Verifica si el archivo tiene una extensi√≥n que corresponde a un archivo CSV o Excel
    if archivo.endswith('.csv') or archivo.endswith('.xlsx'):
        # Construye la ruta completa del archivo
        ruta_archivo = os.path.join(ruta_carpeta, archivo)
        print("Cargando:", ruta_archivo)
        # Carga el archivo en un DataFrame y agrega a la lista (** hablar de la notaci√≥n one line)
        df = pd.read_csv(ruta_archivo) if archivo.endswith('.csv') else pd.read_excel(ruta_archivo)
        dataframes.append(df)

print("Cu√°ntos dataframes resultaron: " , len(dataframes))
# Combinar todos los DataFrames en uno solo (** hablar del index)
df_combinado = pd.concat(dataframes, ignore_index=True)

# Ahora el DataFrame "df_combinado" contiene toda la informaci√≥n de los DataFrames cargados desde los archivos.
df_combinado

Cargando: data_files/Sales_April_2019.csv
Cargando: data_files/Sales_August_2019.csv
Cargando: data_files/Sales_December_2019.csv
Cargando: data_files/Sales_February_2019.csv
Cargando: data_files/Sales_January_2019.csv
Cargando: data_files/Sales_July_2019.csv
Cargando: data_files/Sales_June_2019.csv
Cargando: data_files/Sales_March_2019.csv
Cargando: data_files/Sales_May_2019.csv
Cargando: data_files/Sales_November_2019.csv
Cargando: data_files/Sales_October_2019.csv
Cargando: data_files/Sales_September_2019.csv
Cu√°ntos dataframes resultaron:  12
Wall time: 362 ms

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186846,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186847,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186848,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186849,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"