## Demo en clase S4
##### Temas:

1. Recuento de funciones
2. Recuento de programaci√≥n orientada a objetos
3. Carga de m√∫ltiples archivos

https://www.kaggle.com/datasets/knightbearr/sales-product-data

In [ ]:
# Secuencial # DRY

print(1)
print(2)
print(3)
print(4)

### Recuento de funciones

In [ ]:
def nombre_funcion():
    print("una tarea que hace la funci√≥n 1")
    print("una tarea que hace la funci√≥n 2")
    print("una tarea que hace la funci√≥n 3")
    print("una tarea que hace la funci√≥n 4")

In [ ]:
# Llamado a la funci√≥n
nombre_funcion()

In [ ]:
def nombre_funcion_con_retorno():
    texto_retorno = "Un retorno de la funci√≥n"
    return texto_retorno

# llamado con retorno
valor_resultante = nombre_funcion_con_retorno()
print(valor_resultante)

## Ejemplo almacenar elementos resultantes

In [ ]:
def nombre_funcion_con_parametros(a, b):
    print("recib√≠ a como: ", a)
    print("recib√≠ b como: ", b)
    return a+b

nombre_funcion_con_parametros(4, 5)
# mostrar que pasa si no se entregan los parametros

In [ ]:
# par√°metros por defecto (a = 3, b = 5)
def nombre_funcion_con_parametros(a = 3, b = 5):
    print("recib√≠ a como: ", a)
    print("recib√≠ b como: ", b)
    return a+b

# nombre_funcion_con_parametros(2, 22)
nombre_funcion_con_parametros(b = 8)
# mostrar que pasa si no se entregan los parametros

### Comportamiento de las variables en relaci√≥n a la visibilidad (global / local)

In [ ]:
 estado = "lloviendo üåß"

# ¬øQu√© pas√≥ aqu√≠?

# Hablar de visibilidad de las variables
# Hablar de enmascaramiento y alcance
# Demostrar el uso de global

In [ ]:
def cambiarEstado(nuevo_estado):
    # global estado
    estado = nuevo_estado
    print("en el interior:", estado)

In [ ]:
print("en el exterior:", estado)
cambiarEstado("Soleado ‚òÄ")
print("en el exterior:", estado)

### ¬øfunciones como par√°metros?

Composicion y la idea de ciudadanos de primer nivel.

In [ ]:
def operar (a, b, accion):
    return accion(a, b)

def sumar(a, b):
    return a+b

def restar(a, b):
    return a-b

def multiplicar(a, b):
    return a*b

def dividir(a, b):
    return a/b

In [ ]:
operar(2, 2, sumar)

In [ ]:
operar(2, 2, restar)

In [ ]:
operar(2, 2, multiplicar)

In [ ]:
operar(2, 2, dividir)

## Programaci√≥n orientada a objetos
Recuento general, los objetos representan entidades con caracteristicas y servicios.

In [ ]:
class Calculadora:

    def __init__(self): ## Hablar de los constructores
        print("Se est√° creando una calculadora")
        
    def sumar(self, a, b): ## mostrar que pasa si quitamos self y hablar de self
        #print("self:", self)
        return a + b 
    
    def restar(self, a, b):
        print("self:", self)
        return a - b 
    
    def multiplicar(self, a, b):
        return a * b 
    
    def dividir(self, a, b):
        return a / b

In [ ]:
# Qu√© son las instancias
miCalculadora = Calculadora()
miCalculadora

In [ ]:
# Qu√© representa ?
type(miCalculadora)

In [ ]:
# qu√© hace la notaci√≥n de (.) punto
suma = miCalculadora.sumar(10, 44)
print(suma)

In [ ]:
resta = miCalculadora.restar(10, 44)
print(resta)

In [ ]:
multiplicacion = miCalculadora.multiplicar(10,10);
print(multiplicacion)

In [ ]:
division = miCalculadora.dividir(100,10)
division

### Adem√°s de las instancias, ¬øqu√© tenemos?

#### Decoradores

¬øQu√© son?: Son definiciones adicionales usando la notaci√≥n de @

##### ¬øCu√°les usamos?

@staticmethod y @classmethod son decoradores en Python utilizados para definir m√©todos dentro de una clase.

Ambos permiten llamar a los m√©todos sin la necesidad de crear una instancia de la clase, lo que significa que son m√©todos que pertenecen a la clase en s√≠ y no a las instancias individuales de la clase.

‚ö† La principal diferencia entre @staticmethod y @classmethod radica en c√≥mo se pasan los argumentos y c√≥mo se comportan en relaci√≥n con la clase y las instancias. Veamos cada uno de ellos:

###### @staticmethod:

Un m√©todo decorado con @staticmethod no toma el primer argumento como self. No tiene acceso a los atributos o m√©todos de instancia, ni al propio objeto de la instancia. Por lo tanto, no necesita una referencia a la instancia de la clase para ser llamado.

Se utiliza para definir m√©todos que no necesitan informaci√≥n espec√≠fica de la instancia y que realizan operaciones independientes de cualquier estado de instancia.

Se puede llamar desde la clase o una instancia de la clase.

In [ ]:
class MyClass:
    @staticmethod
    def static_method():
        print("Soy un m√©todo est√°tico.")

# Llamada desde la clase
MyClass.static_method()

# Llamada desde una instancia de la clase
obj = MyClass()
obj.static_method()

##### @classmethod:

Un m√©todo decorado con @classmethod toma el primer argumento como cls, que hace referencia a la propia clase. Con este argumento, el m√©todo tiene acceso a los atributos y m√©todos de la clase.

Se utiliza para definir m√©todos que necesitan acceder a la clase y no necesariamente a las instancias individuales.

Se puede llamar desde la clase, y tambi√©n desde una instancia de la clase, pero en este caso, cls se refiere a la clase que es el tipo de la instancia desde la cual se llama.

In [ ]:
class MyClass:
    class_variable = "Hola terricolas"

    @classmethod
    def class_method(cls):
        print("soy un m√©todo de clase")
        print(cls.class_variable)  # Acceso a atributos de la clase

# Llamada desde la clase
MyClass.class_method()

# Llamada desde una instancia de la clase
obj = MyClass()
obj.class_method()

## Pipeline

In [ ]:
# 
import pandas as pd 
import matplotlib.pyplot as plt
df = pd.read_csv("S4/Sales_January_2019.csv")

print(df.info())

In [ ]:
def lookup_na(df_to_lookup):
    ## Identificaci√≥n de NaN
    contains_na = False
    for col in df_to_lookup.columns:
        count_na = df[col].isnull().sum()
        print("Nan x columna [", col, "]:", count_na)
        contains_na = True        
    return [contains_na, df_to_lookup]

def clean_na(df_to_clean):
    ## limpieza de na
    df_to_clean.dropna(inplace=True)
    return df_to_clean

In [ ]:
result = lookup_na(df)
if(result[0]):
    clean_na(result[1])

In [ ]:
print(df.info())

##### C√≥mo lo plantea python pipe / en pandas

In [ ]:
import pandas as pd

def change_age(x):
    print(type(x))
    x["age"]=[10, 20, 30]
    return x

def add_column(x, arg1):    
    x[arg1]=[True, False, False]
    return x

data = {
  "name": ["Sally", "Mary", "John"],
  "age": [50, 40, 30]
}

df = pd.DataFrame(data)
df.pipe(change_age).pipe(add_column, arg1="colA").pipe(add_column, arg1="colB").pipe(add_column, arg1="colC")

print(df)

# hablar de: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pipe.html

## Carga de m√∫ltiples archivos

In [2]:
%%time
import os
import pandas as pd
from datetime import datetime

# Ruta de la carpeta que contiene los archivos
ruta_carpeta = 'data_files/'  # Reemplaza esto con la ruta de tu carpeta

# Lista para almacenar los DataFrames cargados
dataframes = []

# Recorre todos los archivos en la carpeta
for archivo in os.listdir(ruta_carpeta):
    # Verifica si el archivo tiene una extensi√≥n que corresponde a un archivo CSV o Excel
    if archivo.endswith('.csv') or archivo.endswith('.xlsx'):
        # Construye la ruta completa del archivo
        ruta_archivo = os.path.join(ruta_carpeta, archivo)
        #print("Cargando:", ruta_archivo)
        # Carga el archivo en un DataFrame y agrega a la lista (** hablar de la notaci√≥n one line)
        df = pd.read_csv(ruta_archivo) if archivo.endswith('.csv') else pd.read_excel(ruta_archivo)
        #df.dropna(inplace=True)
        dataframes.append(df)
    
    #print(list(df.head(0).columns))
    #print(archivo,'\r\n',df.dtypes)
        
#print("Cu√°ntos dataframes resultaron: " , len(dataframes))
# Combinar todos los DataFrames en uno solo (** hablar del index)
df_combinado = pd.concat(dataframes, ignore_index=True)

# Ahora el DataFrame "df_combinado" contiene toda la informaci√≥n de los DataFrames cargados desde los archivos.
#df_combinado
df_test = df_combinado[df_combinado['Quantity Ordered']=='Quantity Ordered']
df_test

CPU times: total: 297 ms
Wall time: 572 ms

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
519,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1149,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
1155,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2878,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
2893,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
...,...,...,...,...,...,...
185164,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
185551,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186563,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186632,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186738,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address

In [4]:
def dropper(x):   
    x.dropna(inplace=True)
    return x

def clean_headers(x):   
    x = x.drop(x[x["Quantity Ordered"] == "Quantity Ordered"].index)
    return x

def formatear_fecha(df,col_name='Order Date'):
    df['fecha_objeto'] = pd.to_datetime(df[col_name], format="%m/%d/%y %H:%M")

    df['nueva_fecha'] = df['fecha_objeto'].dt.strftime("%d/%m/%Y")
    df['nuevo_tiempo'] = df['fecha_objeto'].dt.strftime("%H:%M")

    df.drop(columns=['fecha_objeto'], inplace=True)
    return df

def convertir_formato_fecha(fecha_hora_str,col_name='Order Date'):
    formato_entrada = "%m/%d/%y %H:%M"
    fecha_hora_obj = datetime.strptime(fecha_hora_str, formato_entrada)    
    formato_salida = "%d/%m/%Y %H:%M" 
    fecha_nueva_str = fecha_hora_obj.strftime(formato_salida)   
    return fecha_nueva_str

def separar(cadena_texto):
    lista_salida = cadena_texto.split()    
    return lista_salida

#df_col = list(dataframes[0].columns)
dataframes[0].pipe(dropper).pipe(clean_headers).pipe(formatear_fecha)
#df_combinado['Price Each'].str.extract(r'(\d{2})-(\d{2})-(\d{2}) (\d{2}):(\d{2})')

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,nueva_fecha,nuevo_tiempo
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",19/04/2019,08:46
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",07/04/2019,22:30
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",12/04/2019,14:38
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",12/04/2019,14:38
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",30/04/2019,09:27
...,...,...,...,...,...,...,...,...
18378,194090,Google Phone,1,600,04/08/19 17:11,"177 Jackson St, Los Angeles, CA 90001",08/04/2019,17:11
18379,194091,AA Batteries (4-pack),1,3.84,04/15/19 16:02,"311 Forest St, Austin, TX 73301",15/04/2019,16:02
18380,194092,AAA Batteries (4-pack),2,2.99,04/28/19 14:36,"347 Sunset St, San Francisco, CA 94016",28/04/2019,14:36
18381,194093,AA Batteries (4-pack),1,3.84,04/14/19 15:09,"835 Lake St, Portland, OR 97035",14/04/2019,15:09
18382,194094,Lightning Charging Cable,1,14.95,04/18/19 11:08,"354 North St, Boston, MA 02215",18/04/2019,11:08